*{
margin: 0;
padding: 0;
/* background-color: yellow; */
/* background-image: url("img/1.jpeg");
background-repeat: no-repeat;
background-size: 100%; */

background-color: crimson;
font-size: 50px;
color: azure;
}
.m{
    position: relative;
    margin: 50px ,auto;
}
.wenzi{

    position: relative;
    margin-left: 10%;
    margin-top: 30%;
    float: left;

}
.main{
    position: relative;
    float: right;
border-radius: 20px;
  
   margin-right: 10%;
   margin-top: 10%;
   width: 800px;
   height: 800px;
     background-color: rgb(255, 255, 255);
     background-image: url(img/a71ea8d3fd1f4134896e4923a0800dc1d0c85eb8.jpg );
   
   background-repeat: no-repeat;
 background-size: 800px;
 background-position: center;
    
 


    
}
  

.main:hover{
    transform:scale(1.1);
    box-shadow: 10px 10px 5px rgba(19, 19, 9, 0.324);
}
